@import "../node_modules/tailwindcss/dist/lib.d.mts";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --raiza-yellow:#e9b202;
    --raiza-light-green: #8db490;
    --raiza-green: #629165;
    --raiza-grey: #545454;
}

@font-face {
    font-family:'perandory-semicondensed';
    src: url('/fonts/Perandory-Semi-Condensed.otf');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
    --color-raiza-yellow: var(--raiza-yellow);
    --color-raiza-light-green: var(--raiza-light-green);
    --color-raiza-green: var(--raiza-green);
    --color-raiza-grey: var(--raiza-grey);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'perandory-semicondensed', Arial, Helvetica, sans-serif;
    letter-spacing:1px;

}

.gingham{
    background-color: rgba(256,192,0,1);
    background-image:
            linear-gradient(90deg,
            rgba(255,255,255,0.5) 0%,
            rgba(255,255,255,0.5) 10%,
            rgba(255,255,255,0) 10%,
            rgba(255,255,255,0) 20%,
            rgba(255,255,255,0.5) 20%,
            rgba(255,255,255,0.5) 30%,
            rgba(255,255,255,0) 30%,
            rgba(255,255,255,0) 40%,
            rgba(255,255,255,0.5) 40%,
            rgba(255,255,255,0.5) 50%,
            rgba(255,255,255,0) 50%,
            rgba(255,255,255,0) 60%,
            rgba(255,255,255,0.5) 60%,
            rgba(255,255,255,0.5) 70%,
            rgba(255,255,255,0) 70%,
            rgba(255,255,255,0) 80%,
            rgba(255,255,255,0.5) 80%,
            rgba(255,255,255,0.5) 90%,
            rgba(255,255,255,0) 90%,
            rgba(255,255,255,0) 100%
            ),
            linear-gradient(0,
            rgba(255,255,255,0.5) 0%,
            rgba(255,255,255,0.5) 10%,
            rgba(255,255,255,0) 10%,
            rgba(255,255,255,0) 20%,
            rgba(255,255,255,0.5) 20%,
            rgba(255,255,255,0.5) 30%,
            rgba(255,255,255,0) 30%,
            rgba(255,255,255,0) 40%,
            rgba(255,255,255,0.5) 40%,
            rgba(255,255,255,0.5) 50%,
            rgba(255,255,255,0) 50%,
            rgba(255,255,255,0) 60%,
            rgba(255,255,255,0.5) 60%,
            rgba(255,255,255,0.5) 70%,
            rgba(255,255,255,0) 70%,
            rgba(255,255,255,0) 80%,
            rgba(255,255,255,0.5) 80%,
            rgba(255,255,255,0.5) 90%,
            rgba(255,255,255,0) 90%,
            rgba(255,255,255,0) 100%
            );
    background-size: 20em 20em;
    background-position: 50% 50%;
}
